.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgb(169, 164, 253) 0%, rgb(98, 98, 189) 35%, rgba(0,212,255,1) 100%);
   
  
    .logo-container {
      height: 100%;
      width: 70px;
      display: flex;
      align-items: center;
    }
  
    .nav-links-container {
      
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
   
      
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
  