.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgb(126, 197, 232) 0%, rgb(72, 80, 145) 35%, rgb(120, 185, 228) 90%);
   
  
    .logo-container {
      height: 100%;
      width: 70px;
      display: flex;
      align-items: center;  
    }
  
    .nav-links-container {
      
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
  